.image-list-images-container1{
    border-radius: 8px;
    width: 75vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    overflow: hidden;
    margin-bottom: 3em;
    position: relative;
}

.image-list-image-wrapper{
    display: flex;
}

.image-list-array{
    padding-right: 0.5em;
    border-radius: 8px;
    width: 35vw;
    height: 20vh;
    display: block;
    animation: slide 10s infinite alternate;
}

@keyframes slide {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .image-list-images-container1{
        border-radius: 10px;
        width: 90vw;
        height: 40vh;
    }
    
    .image-list-array{
        padding-right: 1em;
        border-radius: 10px;
        width: 35vw;
        height: 30vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .image-list-images-container1{
        border-radius: 10px;
        width: 90vw;
        height: 90vh;
    }
    
    .image-list-array{
        padding-right: 1em;
        border-radius: 10px;
        width: 40vw;
        height: 40vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .image-list-images-container1{
        border-radius: 10px;
        margin-bottom: 5em;
        width: 90vw;
    }
    
    .image-list-array{
        padding-right: 2em;
        border-radius: 10px;
        width: 30vw;
        height: 50vh;
    }
}