.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 6vh;
    border-radius: 10px;
    background-color: rgb(44, 42, 42);
    position: relative;
    margin-right: 3em;
    margin-bottom: 5em;
    position: fixed;
    right: 2%;
    bottom: 0.1%;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.arrow-container:hover {
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-icons-desktop {
    width: 1vw;
    height: auto;
    color: #fff2cd;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
