/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content-container{
        display: flex;
        width: 100%;
        height: 100%;
    }
    
    .content-image1{
        float: right;
        display: block;
        width: 61vw;
        height: 85.5vh;
    }

    .content-text{
        display: flex;
        flex-direction: column;
    }

    .content-h1{
        color: #333;
        font-size: 30px;
        width: 65%;
        margin: 12em auto;
    }

    .content-text-presentation{
        color: #666;
        width: 65%;
        font-size: 20px;
        margin: -17em auto;
    }

    .content-after-container{
        margin-top: 6em;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        justify-content: space-between;
    }

    .content-after-text{
        display: flex;
        flex-direction: column;
        margin-left: 15em;
    }

    .content-after-h1{
        color: #333;
        font-size: 30px;
        width: 81%;
        margin: 5em auto;
    }

    .content-text-after-presentation{
        color: #666;
        width: 60%;
        font-size: 20px;
        margin: -6.5em 3.2em;
    }

    .content-text-after-presentation2{
        color: #666;
        width: 60%;
        font-size: 20px;
        margin: 8em 3.2em;
    }

    .content-image2{
        margin-right: 25em;
        border-radius: 10px;
        width: 30vw;
    }
}