.content-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-bottom: 2em;
}

.content-image {
    margin: 1em auto;
    display: flex;
}

.content-image1 {
    border: 2px solid black;
    border-radius: 4px;
    float: right;
    display: block;
    width: 80vw;
    height: 30vh;
}

.content-text {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.content-h1 {
    color: #333;
    font-size: 20px;
    margin: 0em auto;
}

.content-text-presentation {
    width: 70%;
    color: #666;
    font-size: 13px;
    margin: 1em auto;
}

.content-after-container {
    margin-top: 3em;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}

.content-after-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.content-after-h1 {
    text-align: center;
    color: #333;
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
}

.content-text-after-presentation {
    text-align: center;
    color: #666;
    width: 80%;
    font-size: 13px;
    margin: 2em auto;
    margin-bottom: 1em;
}

.content-text-after-presentation2 {
    text-align: center;
    color: #666;
    width: 80%;
    font-size: 13px;
    margin: 0em auto;
    margin-bottom: 2em;
}

.content-image2 {
    border: 2px solid black;
    border-radius: 4px;
    width: 80vw;
    height: 30vh;
}

.content-after-image {
    display: flex;
    margin: 0 auto;
}

.content-array {
    margin-top: 4em;
    justify-content: center;
    margin-bottom: 3em;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.content-afterr-h1 {
    margin: 2em auto;
    color: #333;
    font-size: 18px;
    margin-bottom: -1em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .content-image1 {
        height: 50vh;
    }

    .content-text-presentation {
        font-size: 18px;
    }

    .content-after-container {
        align-items: center;
        margin: 3em auto;
    }

    .content-after-h1 {
        text-align: center;
    }

    .content-text-after-presentation {
        width: 85%;
        font-size: 18px;
        margin: 2em auto;
        margin-bottom: 1em;
    }

    .content-text-after-presentation2 {
        width: 85%;
        font-size: 18px;
    }

    .content-image2 {
        height: 50vh;
    }

    .content-afterr-h1 {
        font-size: 20px;
        margin-bottom: -1em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content-image1 {
        width: 65vw;
        height: 50vh;
    }

    .content-text-presentation {
        font-size: 18px;
        margin: 1em auto;
    }

    .content-after-container {
        align-items: center;
        margin: 3em auto;
    }

    .content-text-after-presentation {
        width: 85%;
        font-size: 18px;
    }

    .content-text-after-presentation2 {
        width: 85%;
        font-size: 18px;
    }

    .content-image2 {
        width: 65vw;
        height: 50vh;
    }

    .content-afterr-h1 {
        text-align: center;
        font-size: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .content-container {
        flex-direction: row;
    }

    .content-image1 {
        margin-top: -1em;
        width: 61vw;
        height: 88.5vh;
    }

    .content-h1 {
        font-size: 30px;
        width: 65%;
        margin: 7.5em auto;
    }

    .content-text-presentation {
        width: 65%;
        font-size: 20px;
        margin: -10em auto;
    }

    .content-after-container {
        flex-direction: row;
        margin-top: 6em;
    }

    .content-after-text {
        margin-left: 10em;
    }

    .content-after-h1 {
        color: #333;
        font-size: 20px;
        width: 90%;
        margin: 0 auto;
    }

    .content-afterr-h1 {
        width: 90%;
    }

    .content-text-after-presentation {
        width: 70%;
        font-size: 15px;
        margin: 1em auto;
    }

    .content-text-after-presentation2 {
        width: 70%;
        font-size: 15px;
        margin: 1em auto;
    }

    .content-image2 {
        margin-right: 10em;
        border-radius: 10px;
        width: 50vh;
    }

    .content-array {
        margin-bottom: -10em;
    }

    .content-text-array {
        margin: 0 auto;
        color: #333;
        font-size: 15px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .content-image1 {
        width: 61vw;
        height: 88.5vh;
    }

    .content-h1 {
        color: #333;
        font-size: 30px;
        width: 65%;
        margin: 11.5em auto;
    }

    .content-text-presentation {
        width: 65%;
        font-size: 20px;
        margin: -16.5em auto;
    }

    .content-after-container {
        margin-top: 6em;
    }

    .content-after-text {
        margin-left: 15em;
    }

    .content-after-h1 {
        font-size: 30px;
        width: 81%;
        margin: 5em auto;
    }

    .content-afterr-h1 {
        color: #333;
        font-size: 30px;
        width: 81%;
    }

    .content-text-after-presentation {
        width: 60%;
        font-size: 20px;
        margin: -6.5em 3.2em;
    }

    .content-text-after-presentation2 {
        width: 60%;
        font-size: 20px;
        margin: 8em 3.2em;
    }

    .content-image2 {
        margin-right: 25em;
        border-radius: 10px;
        width: 30vw;
    }

    .content-array {
        margin-bottom: -5em;
    }

    .content-text-array {
        margin: 0 auto;
        color: #333;
        font-size: 15px;
    }

}