/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .cookiesPrivacy-all {
        border-radius: 10px;
        border: 3px solid #ffffff;
        max-width: 800px;
        margin: 3em auto;
        padding: 20px;
        background-color: #000000;
        box-shadow: 0 4px 7px rgba(0, 0, 0, 0.9);
    }
    
    .cookiesPrivacy-all h1 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #ffffff;
    }
    
    .cookiesPrivacy-all p {
        font-size: 16px;
        margin-bottom: 15px;
        color: #ffffff;
    }

}