/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header-container{
        width: 100%;
        z-index: 99;
        border-bottom: 1px solid black;
    }
    
    .header-container header{
        height: 4vh;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        background-color: rgba(0, 0, 0, 0.2);
    }
    
    .header-container header nav a{
        margin-right: 4em;
        display: inline-block;
        text-decoration: none;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        font-weight: bold;
    }

    .header-presentation{
        display: flex;
        flex-direction: row;
        color: rgb(255, 255, 255);
    }
    
    .header-name{
        color: black;
        width: 70%;
        font-size: 13px;
        margin: 1.5em auto;
    }

    .header-logo{
        border-radius: 5px;
        margin: 2.5em auto;
        width: 5vw;
        height: 5vw;
        margin-left: 1em;
    }

    .header-insta{
        width: 1.5em;
    }

    .header-twitter{
        width: 1.5em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header-container{
        width: 100%;
        z-index: 99;
        border-bottom: 1px solid black;
        list-style: none;
    }

    .header-container header{
        height: 7vh;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        background-color: rgba(0, 0, 0, 0.2);
    }
    
    .header-container header nav a{
        margin-right: 4em;
        display: inline-block;
        text-decoration: none;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        font-weight: bold;
    }

    .header-presentation{
        display: flex;
        flex-direction: row;
        color: rgb(255, 255, 255);
    }
    
    .header-name{
        color: black;
        font-size: 24px;
        margin: 1.5em auto;
    }

    .header-logo{
        border-radius: 5px;
        margin-right: 3em;
        width: 5vw;
        height: 5vw;
        margin-left: 10em;
    }

    .header-insta{
        width: 1.5em;
    }

    .header-twitter{
        width: 1.5em;
    }
}