.header-container{
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid black;
}

.header-container header{
    height: 4vh;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.header-container header nav a{
    margin-right: 2em;
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding: 8px 5px;
    border-radius: 99px;
    font-weight: bold;
    font-size: 7px;
}

.header-container header nav a:hover{
    background: #fff2cd;
}

.header-presentation{
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
}

.header-name{
    color: black;
    width: 70%;
    font-size: 12px;
    margin: 4em auto;
}

.header-logo{
    border-radius: 5px;
    margin: 2.8em auto;
    width: 6vw;
    height: 3.5vh;
    margin-left: 1em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    .header-container header{
        height: 10vh;
    }
    
    .header-container header nav a{
        margin-right: 2em;
        font-size: 10.9px;
    }

    .header-presentation{
        display: flex;
        flex-direction: row;
        color: rgb(255, 255, 255);
    }
    
    .header-name{
        font-size: 14px;
        margin: 10em auto;
    }

    .header-logo{
        margin: 6em auto;
        width: 17vw;
        height: 13vh;
        margin-left: 2em;
    }

    .header-insta{
        width: 1.1em;
    }

    .header-twitter{
        width: 1.1em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    .header-container header{
        height: 10vh;
    }
    
    .header-container header nav a{
        margin-right: 3em;
        font-size: 14px;
    }
    
    .header-name{
        font-size: 15px;
        margin: 8em auto;
    }

    .header-logo{
        margin: 5em auto;
        width: 15vw;
        height: 13vh;
        margin-left: 2em;
    }

    .header-insta{
        width: 1.1em;
    }

    .header-twitter{
        width: 1.1em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header-container header{
        height: 9vh;
        width: 100%;
    }
    
    .header-container header nav a{
        font-size: 15px;
        margin-right: 4em;
    }
    
    .header-name{
        font-size: 19px;
        margin: 5.8em auto;
    }

    .header-logo{
        width: 10vw;
        height: 10vw;
        margin-left: 5em;
    }

    .header-insta{
        width: 1.5em;
    }

    .header-twitter{
        width: 1.5em;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header-container header{
        height: 7vh;
    }
    
    .header-container header nav a{
        margin-right: 4em;
    }
    
    .header-name{
        font-size: 24px;
        margin: 5em auto;
    }

    .header-logo{
        margin-right: 1em;
        margin-top: 6.2em;
        width: 5vw;
        height: 5vw;
        margin-left: 5em;
    }

    .header-insta{
        width: 1.5em;
    }

    .header-twitter{
        width: 1.5em;
    }
}
