.header-container{
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid black;
}

.header-container header{
    height: 4vh;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.header-presentation{
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
}

.header-name{
    color: black;
    width: 70%;
    font-size: 12px;
    margin: 4em auto;
}

.header-logo{
    border-radius: 5px;
    margin: 2.8em auto;
    width: 6vw;
    height: 3.5vh;
    margin-left: 1em;
}

.nav-container {
    display: flex;
    justify-content: space-between;
  }
  
  .button {
    margin-top: 1em;
    height: 20px;
    width: 5em;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: #333;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
  }
  
  .btn-txt {
    font-size: 12px;
    z-index: 1;
    font-weight: 5px;
  }
  
  .type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #333;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  
  .button:hover {
    box-shadow: 1px 1px 200px #252525;
    color: #fff;
    border: none;
  }
  
  .type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    .header-container header{
        height: 10vh;
    }

    .header-presentation{
        display: flex;
        flex-direction: row;
        color: rgb(255, 255, 255);
    }
    
    .header-name{
        font-size: 14px;
        margin: 10em auto;
    }

    .header-logo{
        margin: 6em auto;
        width: 17vw;
        height: 13vh;
        margin-left: 2em;
    }

    .header-insta{
        width: 1.1em;
    }

    .header-twitter{
        width: 1.1em;
    }

    .button {
        height: 30px;
        width: 5.5em;
        margin-right: 10px;
      }
      
      .btn-txt {
        font-size: 13px;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    .header-container header{
        height: 10vh;
    }
    
    .header-name{
        font-size: 15px;
        margin: 8em auto;
    }

    .header-logo{
        margin: 5em auto;
        width: 15vw;
        height: 13vh;
        margin-left: 2em;
    }

    .header-insta{
        width: 1.1em;
    }

    .header-twitter{
        width: 1.1em;
    }

    .button {
        height: 40px;
        width: 7em;
        margin-right: 20px;
      }
      
      .btn-txt {
        font-size: 16px;
      }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header-container header{
        height: 9vh;
        width: 100%;
    }
    
    .header-name{
        font-size: 19px;
        margin: 5.8em auto;
    }

    .header-logo{
        width: 10vw;
        height: 10vw;
        margin-left: 5em;
    }

    .header-insta{
        width: 1.5em;
    }

    .header-twitter{
        width: 1.5em;
    }

    .button {
        height: 45px;
        width: 8em;
        margin-right: 30px;
      }
      
      .btn-txt {
        font-size: 16px;
        letter-spacing: 1px;
      }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header-container header{
        height: 7vh;
    }
    
    .header-name{
        font-size: 24px;
        margin: 5em auto;
    }

    .header-logo{
        margin-right: 1em;
        margin-top: 6.2em;
        width: 5vw;
        height: 5vw;
        margin-left: 5em;
    }

    .header-insta{
        width: 1.5em;
    }

    .header-twitter{
        width: 1.5em;
    }

    .button {
        height: 50px;
        width: 10em;
        margin-right: 50px;
      }
      
      .btn-txt {
        font-size: 18px;
        letter-spacing: 1px;
      }
}
